@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

 body {
     margin: 0;
     padding: 0;
     font-family: 'Cantarell', sans-serif;
     color: #585546;
 }

 .avoc {
    position: relative;
     left: 30px;
     top: 30px;
 }

 h3 {
     color: black;
 }

 .logoAvoc {
     position: absolute;
     width: 100px;
 }

 .pimage1 {
     position: relative;
     left: 750px;
     top: 110px;
 }

 .image1 {
    width: 400px;
 }

 .titre {
     color: black;
     position: absolute;
     left: 440px;
     top: 110px;
     font-weight: bold;
     font-size: 55px;
 }

 .menu {
     position: absolute;
     left: 1440px;
     top: 40px;
     font-weight: bold;
     font-size: 12px;
 }

 .share {
     position: absolute;
     left: 1443px;
     top: 70px;
     font-size: 10px;
     color: #908990;
 }

 .imenu {
     position: absolute;
     left: 1410px;
     top: 53px;
     width: 23px;
 }

.branding {
    position: absolute;
    left: 765px;
    top: 140px;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
}

.texte {
    color: #585546;
    font-size: 12px;
    position: relative;
    left: 620px;
    top: 170px;
}

.noto {
    font-family: 'Noto Sans JP', sans-serif;
}

#line {
    line-height: 7px;
}

a {
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    color: #DD7282;
    font-weight: bold;
}

.espace {
    line-height: 7px;
}

.coton {
    position: absolute;
    top: 1000px;
    left: 430px;
    height: 200px;
}

.fleur {
    position: absolute;
    top: 1000px;
    left: 790px;
    height: 200px;
}

.bras {
    position: absolute;
    top: 1260px;
    left: 430px;
    width: 665px;
}

.masque {
    position: absolute;
    top: 1770px;
    left: 430px;
    height: 200px;
}

.lunette {
    position: absolute;
    top: 1770px;
    left: 790px;
    height: 200px
}

.gobelet {
    position: absolute;
    top: 2150px;
    left: 500px;
    width: 180px;
}

.chaise {
    position: absolute;
    top: 2120px;
    left: 830px;
    width: 130px;
}

.previous {
    font-size: 10px;
    position: relative;
    left: 470px;
    top: 1497px;
    width: 40px;
}

.back {
    font-size: 10px;
    position: relative;
    left: 710px;
    top: 1455px;
}

.next {
    font-size: 10px;
    position: relative;
    left: 935px;
    top: 1430px;
    width: 40px;
}

.fin {
    background-color: #F7F7F7;
    width: 840px;
    height: 220px;
    position: absolute;
    top: 2400px;
    padding-top: 70px;
    padding-left: 680px;
}

span {
    color: #DD7282;
}

.logo {
    color: black;
    position: relative;
    font-size: 20px;
    padding-bottom: 10px;
}

.texteB {
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 10px;
}

i {
    padding-right: 10px;
}

.top {
    width: 80px;
    height: 20px;
    color: black;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: 30px;
    color: #585546;
}

.arrow {
    color: #585546;
    position: absolute;
    left: 742px;
    bottom: 32px;
}